html
  head
    title Neural Network Interface

    script(type='text/javascript' src='//code.jquery.com/jquery-2.1.3.min.js')
    script(type='text/javascript' src='/js/script.js')

    link(rel='stylesheet' href='/css/style.css')

  body
    #content
      #input-area
        form#new-plot
          label(for='avg') Average
          input(type='radio' name='plotMode' id='avg' value='avg')
          label(for='highest') Highest
          input(type='radio' name='plotMode' id='highest' value='highest')
          button#plot-it Recompute the plot

        form#new-run
          each keyObj in allKeys
            input(type='text' id=keyObj._class name=keyObj._class placeholder=keyObj.display value=keyObj._default)
          button#run-new Start a new training run

      #runs-table-container
        #run-label
          each keyObj in allKeys
            span(class=keyObj._class)= keyObj.display

        #all-runs
          each run, runLabel in runs
            .run
              each keyObj in allKeys
                span(class=keyObj._class)= run[keyObj.key]

      #plot-container
